// Created by Andrey on 03.10.2017.

@import "nib"

screenSize = 70 vh


html, body
	padding: 0
	margin: 0


.page
	text-align: center

.wrapper
	display: inline-block
	text-align: left
	margin: 0 auto
	min-width: 100px
	min-height: 100px


.clear-fix
	clearfix()


.control-buttons
	text-align: center
	margin-top: 20px
	margin-bottom: 10px
	font-family: Calibri
	a
		display: inline-block
		text-decoration: none
		color: #000
		margin-left: 10px
		margin-right: 10px
		padding: 5px
		text-align: center

		background-color: #fff
		border: 1px solid #999
		border-radius: 3px

		width: 120px
		&:hover
			background-color: #e7e7e7
		&:active
			background-color: #ffb7bc
